
.footer{
    display: flex;
    flex-direction: column;
    
    text-align: center;

    &--contact{
        background: black;
        padding:4.5rem 0 ;
    }
    &--nav{
        background: $bleuNuit;
    }
    &--socialShare{
        padding-bottom: 2rem;     
    }

   
    &--items{
        display: flex;
        justify-content: center;
    }
    &--link{
        font-family: $font-family01;
        padding: 2rem .5rem;
        text-transform: uppercase;
        color: white;
        font-size: 1.2rem;
        letter-spacing: .12rem;
        display: flex;
        align-items: center;

        &:hover{
            color: $jaune;
            text-decoration: none;
        }

        &:not(:last-child)::after{
            margin: 0 1.2rem;
            display: block;
            content: " ";
            width: 1px;
            height: 1rem;
            background: white;
        }

    }

}
