.header{
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem 5.4rem; 
    height: 10rem;
    color: white;
    
    @media #{$desktop}{
        padding: 3.9rem 4rem 3.6rem;
    }

    @media #{$mobile}{
        padding: 2.4rem;
    }
    
    &--logo{
        height: 7.3rem;
        width: 6.3rem;

        @media #{$mobile}{
            width: 4rem;
        }
    }
    &--links{
     display: flex;
     align-items: center;
    }

    &--socialShare{
        display: flex;
        align-items: center;
        margin-right: 2.4rem;
       
        &::after{
            display: block;
            width: 1px;
            height: 3rem;
            content:"";
            background: white;
            margin-left: 1.6rem;
            
            @media #{$mobile}{
                height: 1.4rem;
            }
        }
    }
    &--language{
        display: flex;
        align-items: center;
        
        &--separation{
            display: inline-block;
            font-size: 1.1rem;
            margin: 0 1rem;
        }
        a{
            @include rollBorderBottom();
            color: white;
            font-family: $font-family01;
            font-size: 1.1rem;
            padding-top:.5rem;
           
            &.isActif{
                @include rollBorderBottom();
            }

            @media #{$tablet}{
                font-size: 1.6rem;
            }
            @media #{$mobile}{
                font-size: 1rem;
            }
        }
        
    }
}