@import '/utils/reset';
@import '/utils/varAndMix';
@import '/utils/fonts';
@import '/components/header';
@import '/components/sections';
@import '/components/footer';
@import '/components/resume';
@import '/components/portraits';


body{
    font-family: $font-family02;


    &::before{
        z-index: 2000;
        display: flex;
        position: fixed;
        color:black;
        top: 0;

        content:'resDesktopHD';
        opacity: .8;
        background: grey;
        padding: .5rem;
        
        @media #{$desktop} {
            content: 'reDesktop' ;   
            font-size: .625em; 
        }
        @media #{$tablet} {
            content: 'resTablet' ;   
        }
        @media #{$mobile} {
            content: 'resMobile' ;   
        }
    }
}

.scroll{
    z-index: 2000;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 2rem;

    &--content{ 
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &--address{
        color: white;
    }
    &--texte{
        font-size: 1rem;
        text-transform: uppercase;
        color: $jaune;
        font-family: $font-family01;
        font-weight: 600;
    }
    
    &--arrow{
        width: 32px;
        height: 32px;
        background: url('./assets/icons/scroll.svg') no-repeat;
        margin:auto;
    }


}

//aide integration
* { 
    // box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    // background: rgba( random(255), random(255), random(255), .2 );
}


.address{
    color: white;
    font-size: 1.6rem;
    a{
      @include rollBorderBottom();
    }
}

// icones social Share
.icones{
    position: relative;
    display: inline-block;
    text-indent: -10000rem;
    overflow: hidden;
    color: white;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
   
    &:hover{
        //   border:1px $jaune solid;
          opacity: .7;
    }
  
}

.icones--linkedin{
    background-image: url("./assets/icons/ico-linkedin.svg" );
    background-position: 50% 50%;
    background-repeat:  no-repeat;
}

.icones--twitter{
    background-image: url("./assets/icons/ico-twitter.svg" );
    background-repeat:  no-repeat;
    background-position: 50% 50%;
}

